#rapper{
    font-size: 18px;
    /* padding: 30px; */
    padding-left: 40px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
}
a{
    text-decoration: none;
    color:navy;
}
body{
    /* background-image: url(./images/jann.jpg); */
    font-size: 100%;
}
#intro{
    background-image: url(./images/jann.jpg);
    height: 410px;
    margin: 25px;
    text-align: center;
}
#further{
    margin-top: 10px;
    padding-top: 40px;
}
#head1{

    padding: 10px;
    color:blue;
    /* outline: 1ch solid; */
    /* outline-color:red; */
}
#ffb{
    color:gold;
    width: 100%;
}

#subhead{
    color:purple;
    /* outline: 1ch solid; */
    /* outline-color:red; */
    display: inline-block;
}
#rant{
    color:darkblue;
}

#lower{
    color:rgb(6, 22, 14);
    display: inline-block;
    outline:1ch solid;
    outline-color: aqua;
}
#lower2{
    color:rgb(6, 22, 14);
    display: inline-block;
    outline:1ch solid;
    outline-color: aqua;
}

.description{
    font-size: 2ch;
    text-emphasis: none;
    font-weight: normal;
}